<div>
    <h2 id="page-heading">
        <span>Items</span>

        <button [disabled]="expanse.isPosted" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-expanse-dtl" (click)="addNew()">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Add Items
            </span>
        </button>
    </h2>

    <div class="alert alert-warning" id="no-result" *ngIf="expanseDtls?.length === 0">
        <span>No items found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="expanseDtls && expanseDtls.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="itemName"><span>Item</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span>Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unitPrice"><span>Unit Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span>Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expanseDtl of expanseDtls ;trackBy: trackId">
                    <td>
                        <div *ngIf="expanseDtl.itemId">
                            <a [routerLink]="['/item', expanseDtl.itemId , 'view']" >{{ expanseDtl.itemName }}</a>
                        </div>
                    </td>
                    <td>{{ expanseDtl.quantity }}</td>
                    <td>{{ expanseDtl.unitPrice }}</td>
                    <td>{{ expanseDtl.amount }}</td>

                    <td class="text-right">
                        <div class="btn-group">

                            <button [disabled]="expanse.isPosted" type="submit"
                                    [routerLink]="['/expanse-dtl', expanseDtl.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button [disabled]="expanse.isPosted" type="submit" (click)="delete(expanseDtl)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
