<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-expanse-heading">Create or edit a Expanse</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_loginId">Login Id</label>
                    <input type="text" class="form-control" name="loginId" id="field_loginId"
                           formControlName="loginId"/>
                    <div *ngIf="editForm.get('loginId')!.invalid && (editForm.get('loginId')!.dirty || editForm.get('loginId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loginId')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_voucherNo">Voucher No</label>
                    <input type="number" class="form-control" name="voucherNo" id="field_voucherNo"
                           formControlName="voucherNo"/>
                    <div *ngIf="editForm.get('voucherNo')!.invalid && (editForm.get('voucherNo')!.dirty || editForm.get('voucherNo')!.touched)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('voucherNo')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_voucherDate">Voucher Date</label>
                    <div class="input-group">
                        <input id="field_voucherDate" type="text" class="form-control" name="voucherDate" ngbDatepicker #voucherDateDp="ngbDatepicker" formControlName="voucherDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="voucherDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('voucherDate')!.invalid && (editForm.get('voucherDate')!.dirty || editForm.get('voucherDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('voucherDate')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_month">Month</label>
                    <select class="form-control" name="month" formControlName="month" id="field_month">
                        <option value="JANUARY">JANUARY</option>
                        <option value="FEBRUARY">FEBRUARY</option>
                        <option value="MARCH">MARCH</option>
                        <option value="APRIL">APRIL</option>
                        <option value="MAY">MAY</option>
                        <option value="JUNE">JUNE</option>
                        <option value="JULY">JULY</option>
                        <option value="AUGUST">AUGUST</option>
                        <option value="SEPTEMBER">SEPTEMBER</option>
                        <option value="OCTOBER">OCTOBER</option>
                        <option value="NOVEMBER">NOVEMBER</option>
                        <option value="DECEMBER">DECEMBER</option>
                    </select>
                    <div *ngIf="editForm.get('month')!.invalid && (editForm.get('month')!.dirty || editForm.get('month')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('month')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_notes">Notes</label>
                    <textarea class="form-control" name="notes" id="field_notes"
                              formControlName="notes"></textarea>
                    <div *ngIf="editForm.get('notes')!.invalid && (editForm.get('notes')!.dirty || editForm.get('notes')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('notes')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalAmount">Total Amount</label>
                    <input type="number" class="form-control" name="totalAmount" id="field_totalAmount"
                           formControlName="totalAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_itemNames">Item Names</label>
                    <textarea class="form-control" name="itemNames" id="field_itemNames"
                              formControlName="itemNames"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_isPosted">Is Posted</label>
                    <input type="checkbox" class="form-control" name="isPosted" id="field_isPosted"
                           formControlName="isPosted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_postDate">Post Date</label>
                    <div class="d-flex">
                        <input id="field_postDate" type="datetime-local" class="form-control" name="postDate" formControlName="postDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" formControlName="createdOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                           formControlName="modifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="d-flex">
                        <input id="field_modifiedOn" type="datetime-local" class="form-control" name="modifiedOn" formControlName="modifiedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_payTo">Pay To</label>
                    <select class="form-control" id="field_payTo" name="payTo" formControlName="payToId">
                        <option *ngIf="!editForm.get('payToId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="payToOption.id" *ngFor="let payToOption of paytos; trackBy: trackById">{{ payToOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('payToId')!.invalid && (editForm.get('payToId')!.dirty || editForm.get('payToId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('payToId')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
