<div>
    <h2 id="page-heading">
        <span>Expanse Dtls</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-expanse-dtl" [routerLink]="['/expanse-dtl/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Expanse Dtl
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="expanseDtls?.length === 0">
        <span>No expanseDtls found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="expanseDtls && expanseDtls.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span>Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unitPrice"><span>Unit Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span>Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdOn"><span>Created On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modifiedOn"><span>Modified On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="expanseVoucherNo"><span>Expanse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="itemName"><span>Item</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expanseDtl of expanseDtls ;trackBy: trackId">
                    <td><a [routerLink]="['/expanse-dtl', expanseDtl.id, 'view']">{{ expanseDtl.id }}</a></td>
                    <td>{{ expanseDtl.quantity }}</td>
                    <td>{{ expanseDtl.unitPrice }}</td>
                    <td>{{ expanseDtl.amount }}</td>
                    <td>{{ expanseDtl.createdBy }}</td>
                    <td>{{ expanseDtl.createdOn | date:'medium' }}</td>
                    <td>{{ expanseDtl.modifiedBy }}</td>
                    <td>{{ expanseDtl.modifiedOn | date:'medium' }}</td>
                    <td>
                        <div *ngIf="expanseDtl.expanseId">
                            <a [routerLink]="['/expanse', expanseDtl.expanseId , 'view']" >{{ expanseDtl.expanseVoucherNo }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="expanseDtl.itemId">
                            <a [routerLink]="['/item', expanseDtl.itemId , 'view']" >{{ expanseDtl.itemName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/expanse-dtl', expanseDtl.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/expanse-dtl', expanseDtl.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(expanseDtl)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="expanseDtls && expanseDtls.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
